.container {
  margin: 20px 20px;
  box-shadow: 1px 3px 4px 4px black;
  padding: 10px;
  text-align: left;
  position: absolute;
  top: 36%;
  left: 7%;
  right: 7%;
}
.containerTop {
  display: flex;
  padding: 5px;
  justify-content: space-between;
}
.logo {
  width: 80px;
  height: 80px;
}
.secondBox {
  padding: 0 15px;
}
.secondBox h3 a {
  text-decoration: none;
  color: black;
}
.thirdBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
}

.text {
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
}
.fourthBox {
  display: flex;
  flex-wrap: wrap;
  font-weight: 500;
}
.para1 {
  margin: 3px;
  display: inline-block;
  padding: 2px 5px;
  color: white;
  height: min-content;
  border-radius: 5px;
}
.blue {
  background-color: rgb(93, 93, 243);
}
.darkblue {
  background-color: rgb(42, 42, 53);
}
.orange {
  background-color: rgb(248, 176, 42);
  color: black;
}
.grey {
  background-color: grey;
}
.containerBottom {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 5px 5px;
}
.para {
  background-color: rgb(212, 240, 250);
  padding: 2px 5px;
  margin: 5px;
  border-radius: 5px;
  color: blue;
  font-weight: 500;
  cursor: pointer;
}
.para:hover {
  background: blue;
  color: white;
}

.icons {
  font-size: 25px;
}
.fa-linkedin {
  color: blue;
}
.fa-external-link-alt {
  font-size: 10px;
  color: blue;
  margin-left: 5px;
}

.container1 {
  display: flex;
}
.container2 {
  display: flex;
}

.secondBox a {
  text-decoration: none;
}

@media only screen and (max-width: 1200px) {
  .container {
    top: 40%;
  }
  .containerTop {
    flex-direction: column;
  }
  .container1 {
    display: flex;
  }
  .container2 {
    display: flex;
  }
}
@media only screen and (max-width: 700px) {
  .container {
    top: 40%;
  }
  .container1 {
    display: flex;
    flex-direction: column;
  }
  .container2 {
    display: flex;
  }
  .thirdBox {
    justify-content: start;
  }
}

@media only screen and (max-width: 450px) {
  .container {
    top: 40%;
  }
  .box {
    padding: 2px 5px;
  }
  .fourthBox {
    flex-direction: column;
  }
  .para1 {
    margin: 3px 2px;
  }
  .containerBottom {
    justify-content: start;
    align-items: flex-start;
  }

  .logo {
    width: 90px;
    height: 90px;
  }
}
