* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-shadow: 1px 1px 3px 3px black;
  min-height: 95vh;
  overflow-y: scroll;
}

@media only screen and (max-width: 450px) {
  body {
    margin: 0;
    box-shadow: none;
  }
}
